.App {
  margin: 0px 150px; 
  
}

.critic-rating,.audience-rating,.score > img{
  width: 1.4em;
}
  
.searchbar-box{
  background-color: bisque;
  height: 300px;
  overflow-y: scroll;
  
  display: none;
  
}
.searchbar-container:focus-within .searchbar-box{
  display: block;
}